/* reset */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* hide default input styles */
input {
  display: none;
}

/* body */
body {
  display: flex;
  padding: .5em;
}

/* left side */
.ac-left {
  display: flex;
  flex-flow: column nowrap;
  height: calc(100vh - 1em);
  justify-content: space-between;
  position: relative;
}

/* character preview */
.ac-preview-container {
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border: 1px solid #999;
  border-radius: .5em;
  height: 100%;
  min-height: 200px;
  overflow: hidden;
  position: relative;
  width: 300px;
}

@media all and (max-width: 50em) {
  .ac-preview-container {
    width: 240px;
  }
}

/* background image */
.ac-preview-container:after {
  background-image: url('assets/ac-background.svg');
  content: '';
  height: 100%;
  opacity: .6;
  position: absolute;
  top: 270px;
  width: 100%;
  z-index: -1;
}
.ac-preview-container:before {
  background: #8dcbf4;
  background: -webkit-linear-gradient(#d5f1fd, #9acad3);
  background: -o-linear-gradient(#d5f1fd, #9acad3);
  background: -moz-linear-gradient(#d5f1fd, #9acad3);
  background: linear-gradient(#d5f1fd, #9acad3);
  content: '';
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}

.ac-preview-container svg {
  bottom: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  top: 0;
}

/* boy and girl base */
#ac-boy-base {
  display: none;
}

/* toggle */
.ac-toggle {
  -webkit-transform: translateX(-50%);
  display: inline-block;
  height: 30px;
  left: 50%;
  margin-top: 1em;
  position: relative;
  transform: translateX(-50%);
  width: 100px;
}

/* slider */
.ac-slider {
  -webkit-transition: 0.4s;
  background: -webkit-linear-gradient(to right, #e892de 50%, #93c9ea 150%);
  background: -o-linear-gradient(to right, #e892de 50%, #93c9ea 150%);
  background: -moz-linear-gradient(to right, #e892de 50%, #93c9ea 150%);
  background: linear-gradient(to right, #e892de 50%, #93c9ea 150%);
  border: 1px solid #999;
  border-radius: 34px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.4s;
  z-index: -100;
}

input:not(:checked) + .ac-slider:before {
  opacity: 0;
}

input + .ac-slider:before {
  -webkit-transition: opacity 0.4s;
  background: -webkit-linear-gradient(to right, #e892de -50%, #93c9ea 50%);
  background: -o-linear-gradient(to right, #e892de -50%, #93c9ea 50%);
  background: -moz-linear-gradient(to right, #e892de -50%, #93c9ea 50%);
  background: linear-gradient(to right, #e892de -50%, #93c9ea 50%);
  border-radius: inherit;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: opacity 0.8s;
  width: 100%;
}
input:checked + .ac-slider:before {
  opacity: 1;
}

/* slider faces */
.ac-slider-button {
  -webkit-transition: 0.4s;
  background-image: url('assets/ac-girl-head.svg');
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 50px;
  left: -8px;
  position: absolute;
  top: -10px;
  transition: 0.4s;
  width: 50px;
}
.ac-slider-button:after {
  border-radius: 32px;
  box-shadow: 0 10px 10px -10px gray;
  content: '';
  height: 50px;
  width: 50px;
}
input:checked + .ac-slider .ac-slider-button {
  -webkit-transform: translateX(70px);
  -ms-transform: translateX(70px);
  background-image: url('assets/ac-boy-head.svg');
  transform: translateX(70px);
}

/* right side */
.ac-right {
  flex: 1 1 auto;
  margin-left: 2em;
}

@media all and (max-width: 50em) {
  .ac-right {
    margin-left: 1em;
  }
}

/* tabs */
[id^="ac-tab"]:checked ~ label {
  background: #fff;
  box-shadow: 0 8px 6px -6px #999;
  z-index: 2;
}
.ac-tabs {
  list-style: none;
  position: relative;
}
.ac-tabs label {
  background: #efefef;
  border: 1px solid #999;
  border-right: none;
  border-radius: .5em 0 0 .5em;
  cursor: pointer;
  display: inline-block;
  padding: .5em;
  position: relative;
}
@media all and (max-width: 50em) {
  .ac-tabs label {
    padding: .25em;
  }
}
@media all and (max-width: 50em) {
  .ac-tabs label svg {
    height: 48px;
    width: 48px;
  }
}

/* tab content */
.ac-tab-content {
  background: #fff;
  border: 1px solid #999;
  border-radius: 0 .5em .5em .5em;
  box-shadow: -8px 0 6px -6px #999;
  box-sizing: border-box;
  display: none;
  height: calc(100vh - 1em);
  left: 0;
  margin-left: 80px;
  min-height: 100%;
  min-width: 112px;
  overflow: hidden;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
@media all and (max-width: 50em) {
  .ac-tab-content {
    margin-left: 56px;
  }
}
[id^="ac-tab"]:checked ~ [id^="ac-tab-content"] {
  display: flex;
  flex-flow: column nowrap;
}

/* scrollbar style */
.ac-color-grid::-webkit-scrollbar-track,
.ac-options-grid::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: .5em;
  background-color: #eee;
}

.ac-color-grid::-webkit-scrollbar,
.ac-options-grid::-webkit-scrollbar {
  background-color: #eee;
  top: 1.5em;
  width: .5em;
}

.ac-color-grid::-webkit-scrollbar-thumb,
.ac-options-grid::-webkit-scrollbar-thumb {
  border-radius: .5em;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #999;
}

/* grid display */
.ac-color-grid,
.ac-options-grid {
  align-content: start;
  display: grid;
  flex: 1 1 50%;
  grid-gap: 1.5em;
  grid-template-columns: repeat(auto-fit, 84px);
  min-width: 68px;
  overflow-y: auto;
}
.ac-color-grid:not([data-color-for="skin"]),
.ac-options-grid {
  max-height: 45%;
}
@media all and (max-width: 50em) {
  .ac-color-grid,
  .ac-options-grid {
    grid-gap: 1.5em;
    grid-template-columns: repeat(auto-fit, 68px);
    padding-right: 10px;
  }
}
.ac-options-grid {
  margin-top: 2em;
  padding-top: 1.5em;
}
@media all and (max-width: 50em) {
  .ac-options-grid {
    padding-top: 0;
  }
}

/* style options */
.ac-color,
.ac-option {
  box-sizing: border-box;
  cursor: pointer;
  height: 64px;
  padding: 8px;
  width: 64px;
}
@media all and (max-width: 50em) {
  .ac-color,
  .ac-option {
    height: 48px;
    width: 48px;
  }
}
.ac-color.selected,
.ac-option.selected {
  border: 4px solid #999;
  padding: 4px;
}

.ac-option svg {
  height: 48px;
  width: 48px;
}
@media all and (max-width: 50em) {
  .ac-color-grid .ac-color {
    height: 48px;
    width: 48px;
  }
  .ac-option svg {
    height: 32px;
    width: 32px;
  }
}

/* boy options */
.ac-boy-options {
  display: none;
}

/* color options */
.ac-color {
  border: 1px solid #999;
  box-sizing: border-box;
}

/* skin color */
#ac-skin-color-1 {
  background-color: #fec297;
}
#ac-skin-color-2 {
  background-color: #fdba8f;
}
#ac-skin-color-3 {
  background-color: #fbb390;
}
#ac-skin-color-4 {
  background-color: #eda179;
}
#ac-skin-color-5 {
  background-color: #dc9066;
}
#ac-skin-color-6 {
  background-color: #c98153;
}
#ac-skin-color-7 {
  background-color: #b87042;
}
#ac-skin-color-8 {
  background-color: #a85c32;
}

/* eye color */
#ac-eye-color-1 {
  background-color: #000;
}

#ac-eye-color-2 {
  background-color: #b45a38;
}

#ac-eye-color-3 {
  background-color: #3b7a5f;
}
#ac-eye-color-4 {
  background-color: #4b8b63;
}
#ac-eye-color-5 {
  background-color: #628380;
}
#ac-eye-color-6 {
  background-color: #5c757e;
}
#ac-eye-color-7 {
  background-color: #2c7cbe;
}

#ac-eye-color-8 {
  background-color: #486dbc;
}

/* hair color */
#ac-hair-color-1 {
  background-color: #000;
}

#ac-hair-color-2 {
  background-color: #4d3010;
}

#ac-hair-color-3 {
  background-color: #712211;
}

#ac-hair-color-4 {
  background-color: #c28c46;
}

#ac-hair-color-5 {
  background-color: #ff6333;
}

#ac-hair-color-6 {
  background-color: #bebfa0;
}

#ac-hair-color-7 {
  background-color: #fed700;
}

#ac-hair-color-8 {
  background-color: #fffbb4;
}

#ac-hair-color-9 {
  background-color: #c70d0e;
}

#ac-hair-color-10 {
  background-color: #006401;
}

#ac-hair-color-11 {
  background-color: #02008e;
}

#ac-hair-color-12 {
  background-color: #957acb;
}

#ac-hair-color-13 {
  background-color: #ff9acb;
}

#ac-hair-color-14 {
  background-color: #87ceea;
}

#ac-hair-color-15 {
  background-color: #99fb98;
}

#ac-hair-color-16 {
  background-color: #fff;
}
